@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Oswald:500');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    background-color: rgba(225, 225, 225, 1);
}

main {
    margin: 1em;
}

h1 {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 2em;
}


p {
    display: block;
    margin: 1em 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

td {
    padding: 3px;
}

div {
    display: block;
}

label {
    display: inline-block;
    float: left;
}

#allAudioTable {
    border-spacing: 0;
}


.addForm input[type="text"], input[type="number"] {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: rgba(25, 25, 25, 1);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(225, 225, 225, 1);
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
}

.allAudioTable {
    width: 100%;
}

.tableHeaderRow {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

.rightAligned {
    text-align: right;
}

.smallPrint {
    font-size: 0.8em;
}

/* --------------- Header ------------------ */
header {
    z-index: 99;
    position: fixed;
    top: 0;
    background-color: #292929;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* --------------- Navigation ------------------ */
.main-nav {
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #ffffff;
}

.main-nav li {
    text-transform: lowercase;
    letter-spacing: 0.2em;
    width: 100%;
    text-align: center;
    list-style-type: none;
    /* border-bottom: 1px solid #262626; */
}

/*
.main-nav li:hover {
    background-color: rgba(255,255,255,1);
}
*/

.main-nav ul a {
    display: block;
    padding: 10px 0;
    color: #ffffff;
    width: 100%;
    text-decoration: none;
}
.main-nav ul a:visited {
    color: #a3a3a3;
}

.main-nav ul a:hover {
    color: #e79433;
    transition: .5s all;
}
.main-nav ul a:active {
    color: #bd6010;
}

.clear-fix {
    content: "";
    display: table;
    clear: both;
}

/* --------------- Footer ------------------ */
footer {
    width: 100%;
    margin-top: 1em;
    background-color: #292929;
    padding: 2em;
}

footer p {
    color: #f4f3f2;
    text-align: center;
}
/* --------------- Footer ------------------ */

/*
 * Media Queries
 */
@media screen and (min-width: 1280px) {

    body {
        margin-left: auto;
        margin-right: auto;
    }

    header {
        margin-left: 0;
        margin-right: 0;
        background-color: #292929;
    }

    .logo {
        float: left;
        width: 300px;
        margin-left: 2em;
        margin-top: 0.3em; /*5px;*/
    }

    .main-nav {
        /*padding: 10px 0 10px;*/
        padding: 0;
        clear: none;
    }

    .main-nav li {
        border-bottom: none;
        list-style-type: none;
    }

    .main-nav ul a {
        display: block;
        padding: 5px 0;
        width: 10%;
        margin-right: 1%;
        /*margin-top: 10px;*/
        float: left;
    }

    .main-nav ul a:first-of-type {
        margin-left: 50px;
    }

    /*
    .main-nav ul a:hover {
        background-color: rgba(255, 255, 255, 1);
    }
    */

}


/*
 * Reasons for SASS:
 * $bgColor: rgba(225, 225, 225, 1);
 * => use in body, .addForm (et cetera)

 @import "basic(.css)";
 $variableName: value;
 */