body {
    font-family: Helvetica, sans-serif;
    background-color: rgba(225, 225, 225, 1);
}

p, td {
    font-size: .8em;
}

.addForm input[type="text"] {
    font-size: .8em;
    color: rgba(25, 25, 25, 1);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(225, 225, 225, 1);
}