<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Audio Item</title>
    <link href="/css/appstyles.css" rel="stylesheet">
</head>
<body>
    <h1>Add record below:</h1>
    <form id="addForm" class="addForm" th:action="@{/audio/itemAdded}" th:object="${audioItem}" method="post">
        <p>Artist: <input type="text" th:field="*{artist}" /></p>
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>Year: <input type="text" th:field="*{year}" /></p>
        <p>Track #: <input type="text" th:field="*{numberOfTracks}" /></p>
        <p>Length: <input type="text" th:field="*{length}" /></p>
        <p>Genre: <input type="text" th:field="*{genre}" /></p>
        <p>Language: <input type="text" th:field="*{language}" /></p>
        <p>Audio Format: <input type="text" th:field="*{audioFormat}" /></p>
        <p>Media Type: <input type="text" th:field="*{mediaType}" /></p>
        <p>Record Label: <input type="text" th:field="*{recordLabel}" /></p>
        <p>Bar Code: <input type="text" th:field="*{barCode}" /></p>
        <p><input type="submit" value="Add" /></p>
    </form>
    <br>
    <div th:object="${addedAudioItem}"> <!-- th:unless="${addedAudioItem?}" -->
        <p><span style="font-style: italic;" th:if="${addedAudioItem != null}" th:text="${addedAudioItem.artist} + '\'s &quot;' + ${addedAudioItem.title} + '&quot; added.'">...</span></p>
    </div>
    <div>
        <a href="/audio">Back to options</a>
    </div>
</body>
</html>