<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Audio Item</title>
    <link href="/css/appstyles.css" rel="stylesheet">
</head>
<body>
    <h1>Add record below:</h1>
    <!-- type="checkbox" value="x", type="radio" value="x"-->
    <form id="addForm" class="addForm" th:action="@{/audio/itemAdded}" th:object="${audioItem}" method="post">
        <p><label for="artist">Artist: </label><input type="text" id="artist" th:field="*{artist}" placeholder="Artist name here" required="required" /></p>
        <p><label for="title">Title: </label><input type="text" id="title" th:field="*{title}" /></p>
        <p><label for="year">Year: </label><input type="text" id="year" th:field="*{year}" /></p>
        <p><label for="tracks">Track #: </label><input type="text" id="tracks" th:field="*{numberOfTracks}" /></p>
        <p><label for="length">Length: </label><input type="text" id="length" th:field="*{length}" /></p>
        <p><label for="genre">Genre: </label><input type="text" id="genre" th:field="*{genre}" /></p>
        <!--
        <div>
            <select id="genre" th:object="${genres}">
                <option value="Select a genre..." ></option>
                <option th:each="genre : ${genre}" th:value="${genre}" th:text="${genre}"></option>
            </select>
        </div>
        -->
        <p><label for="language">Language: </label><input type="text" id="language" th:field="*{language}" /></p>
        <p><label for="audioformat">Audio Format: </label><input type="text" id="audioformat" th:field="*{audioFormat}" /></p>
        <p><label for="mediatype">Media Type: </label><input type="text" id="mediatype" th:field="*{mediaType}" /></p>
        <p><label for="recordlabel">Record Label: </label><input type="text" id="recordlabel" th:field="*{recordLabel}" /></p>
        <p><label for="barcode">Bar Code: </label><input type="text" id="barcode" th:field="*{barCode}" /></p>
        <p><input type="submit" value="Add" /></p>
    </form>
    <br>
    <div th:object="${addedAudioItem}"> <!-- th:unless="${addedAudioItem?}" -->
        <p><span style="font-style: italic;" th:if="${addedAudioItem != null}" th:text="${addedAudioItem.artist} + '\'s &quot;' + ${addedAudioItem.title} + '&quot; added.'">...</span></p>
    </div>
    <div>
        <p><a href="/audio">Back to options</a></p>
    </div>
</body>
</html>