<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add Audio Item</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap411/css/bootstrap.min.css" data-th-href="@{/bootstrap411/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link href="/css/appstyles.css" data-th-href="@{/css/appstyles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Add record below:</h1>
    <!-- type="checkbox" value="x", type="radio" value="x", div display:inline-block|block; float:left|right;-->
    <form id="addForm" class="addForm" th:action="@{/audio/itemAdded}" th:object="${audioItem}" method="post">
        <table>
            <tr><!-- <td><p class="rightAligned"><label for="artist">Artist: </label></p></td>--><td><input type="text" id="artist" th:field="*{artist}" placeholder="artist name" required="required" /></td></tr>
            <tr><!-- <td><p class="rightAligned"><label for="title">Title: </label></p></td>--><td><input type="text" id="title" th:field="*{title}" placeholder="album/single title" /></td></tr>
            <tr><!-- <td><p class="rightAligned"><label for="year">Year: </label></p></td>--><td><input type="text" id="year" th:field="*{year}" placeholder="release year" /></td></tr>
            <tr><!-- <td><p class="rightAligned"><label for="tracks">Track #: </label></p></td>--><td><input type="number" id="tracks" th:field="*{numberOfTracks}" min="1" step="1" placeholder="number of tracks" /></td></tr>
            <tr><!-- <td><p class="rightAligned"><label for="length">Length: </label></p></td>--><td><input type="number" id="length" th:field="*{length}" min="1" step="1" placeholder="length (minutes)" /></td></tr>
            <tr><!-- <td><p class="rightAligned"><label for="genre">Genre: </label></p></td>--><td><input type="text" id="genre" th:field="*{genre}" placeholder="Genre" /></td></tr>
            <!--
            <div>
                <select id="genre" th:object="${genres}">
                    <option value="Select a genre..." ></option>
                    <option th:each="genre : ${genre}" th:value="${genre}" th:text="${genre}"></option>
                </select>
            </div>
            -->
            <tr><!-- <td><p class="rightAligned"><label for="language">Language: </label></p></td>--><td><input type="text" id="language" th:field="*{language}" placeholder="language sung" /></td></tr>
            <tr><!-- <td><p class="rightAligned"><label for="audioformat">Audio Format: </label></p></td>--><td><input type="text" id="audioformat" th:field="*{audioFormat}" placeholder="mono, stereo, surround" /></td></tr>
            <tr><!-- <td><p class="rightAligned"><label for="mediatype">Media Type: </label></p></td>--><td><input type="text" id="mediatype" th:field="*{mediaType}" placeholder="cd, sacd" /></td></tr>
            <tr><!-- <td><p class="rightAligned"><label for="recordlabel">Record Label: </label></p></td>--><td><input type="text" id="recordlabel" th:field="*{recordLabel}" placeholder="record label" /></td></tr>
            <tr><!-- <td><p class="rightAligned"><label for="barcode">Bar Code: </label></p></td>--><td><input type="text" id="barcode" th:field="*{barCode}" placeholder="ean / barcode" /></td></tr>
            <tr><td><input type="submit" value="Add" /><input type="reset" value="Reset" /></td></tr>
        </table>
    </form>
    <br>
    <div th:object="${addedAudioItem}"> <!-- th:unless="${addedAudioItem?}" -->
        <p><span style="font-style: italic;" th:if="${addedAudioItem != null}" th:text="${addedAudioItem.artist} + '\'s &quot;' + ${addedAudioItem.title} + '&quot; added.'">...</span></p>
    </div>
    <div>
        <p><a href="/audio">Back to options</a></p>
    </div>
</body>
</html>